.header,
.main,
.footer_container {
  padding: 0;
}

.home_blob {
  width: 320px;
}

.home_social {
  transform: translateX(-6rem);
}

.services_container {
  grid-template-columns: repeat(3, 238px);
}

.portfolio_content {
  column-gap: 5rem;
}

.swiper-porfolio-icon {
  font-size: 3.5rem;
}

.swiper-button-prev {
  left: -3.5rem;
}

.swiper-button-next {
  right: -3.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -4.5rem;
}

.contact_form {
  width: 460px;
}

.contact_inputs {
  grid-template-columns: repeat(2, 1fr);
}
